<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:sec="http://www.springframework.org/schema/security"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/security
    	http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
 	<beans:bean id="roleVoter"
        class="org.springframework.security.access.vote.RoleVoter">
        <beans:property name="rolePrefix" value=""></beans:property>
    </beans:bean>
 
    <beans:bean id="accessDecisionManager"
        class="org.springframework.security.access.vote.AffirmativeBased">
        <beans:constructor-arg name="decisionVoters"
            ref="roleVoter" />
    </beans:bean>
    
	<http
		authentication-manager-ref="jdbc-auth" 
		access-decision-manager-ref="accessDecisionManager"> 
		<intercept-url pattern="/user/wishlist.html" access="ADMIN" />
		<intercept-url pattern="/user/shoppingcart.html" access="ADMIN" />
        <form-login 
        	login-page="/user/login.html"
        	authentication-failure-url="/user/login.html?error"
            username-parameter="username"
            password-parameter="password" 
            authentication-success-handler-ref="myAuthenticationSuccessHandler" />
        <logout 
        	invalidate-session="true" 
        	logout-success-url="/user/login.html"
            logout-url="/j_spring_security_logout" />
        <access-denied-handler error-page="/user/denied.html"/>
        <session-management invalid-session-url="/user/login.html">
            <concurrency-control max-sessions="1"
                expired-url="/user/login.html" />
        </session-management>
    </http>

	<authentication-manager id="jdbc-auth">
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                users-by-username-query="select username,password,enabled from Users where username = ?"
                authorities-by-username-query="select username,role from Roles where username = ?" />
        </authentication-provider>
    </authentication-manager>
    
    <!-- declare data source bean -->
    <beans:bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <beans:property name="url" value="jdbc:mysql://localhost:3306/FreeOpenShoppingDB" />
        <beans:property name="username" value="root" />
        <beans:property name="password" value="root" />
    </beans:bean>  
 
 
 	<beans:bean id="myAuthenticationSuccessHandler"
        class="com.btan.freeopenshopping.config.MySimpleUrlAuthenticationSuccessHandler" />
      
</beans:beans>